@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&display=swap');
:root {
--primary-color: #1B98E0;
--secondary-color: #59c3c3;
--text-dark: #333;
--text-light: #ebebeb;
--primary-font: Arial, Helvetica, sans-serif;
--secondary-font: "Amatic SC", serif;
}

body {
    font-family: var(--primary-font);
    margin: 0;
    padding: 0;
}

#content {
    max-width: 600px;
    margin: 0 auto;
}

header {
    color: var(--text-dark);
    padding: 1rem;
    text-align: center;
}

#website-title {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

#website-title img {
    width: 80px;
}

#website-title h1 {
    font-family: var(--secondary-font);
    font-size: 5rem;
    margin: 0;
}

#search {
    margin: 1rem 0;
    display: flex;
    justify-content: center;
}

#search input{
    width: 100%;
}

#search button {
    background-color: var(--secondary-color);
    color: var(--text-light);
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    cursor: pointer;
}

#search button img {
    max-width: 16px;
}

main {
    gap: 1rem;
    padding: 1rem;
    border-top: 1px solid gray;
} 

.recipe {
    display: flex;
    flex-direction: column;
    background-color: var(--text-light);
    border: 1px solid var(--text-dark);
    border-radius: 10px;
    padding: 1rem;
}


.tag{
    background-color: white;
    border: 1px solid var(--text-dark);
    padding: 0.2rem 0.5rem;
    font-size: 1rem;
    width: fit-content;
    height: fit-content;
    margin-bottom: 0.5rem;
}

.recipe h2 {
    font-family: var(--secondary-font);
    color: var(--primary-color);
    font-size: 1.5rem;
    margin: 0;
}

.rating {
    margin: 0.5rem 0;
}

.description{
    color: var(--text-dark);
    display: none;
}

footer {
    color: var(--text-dark);
    text-align: center;
    padding: 1rem 0;
    margin-top: 2rem;
}

.social {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-bottom: 0.5rem;
}

.social img {
    width: 24px;
    height: 24px;
}

.attribution {
    font-size: 0.6em;
}

@media screen and (min-width: 900px){
    .description{
        display: block;
    }
    .recipe {
        flex-direction: row;
    }
    .recipe-content{
        margin: 5px;
        display: flex;
        flex-direction: column;
    }
    .recipe img{
        max-width: 500px;
        justify-self: center;
    }
    #content {
        max-width: 1200px;
        margin: 0 auto;
    }
    footer {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-evenly;
    }
}