:root {
    --primary-color: #52489c;
    --secondary-color: #59c3c3;
    --accent-color: #f45b69;
    --text-dark: #333;
    --text-light: #ebebeb;
    --primary-font: Arial, Helvetica, sans-serif;
}


body{
    margin: 0px;
    padding: 0px;
    font-family: var(--primary-font);
    font-size: 1.2em;
    text-align: center;
    background-color: lightgray;
}

header{
    background-color: var(--primary-color);
    color: var(--text-light);
    padding-bottom: 10px;
}

h1{
    margin: 0;
    padding: 10px 0px;
}

button{
    border: none;
    background: none;
    background-color: transparent;
    color: var(--text-light);
    font-size: 1.4em;
}

a:link, a:visited{
  color: var(--text-light);
  display: block;
  margin-top: 5px;
}

.gallery{
    display: grid;
    grid-template-columns: 1fr;
}

.gallery img{
    width: 250px;
    height: 250px;
    max-width: 100%;
    object-fit: cover;
    border: 5px solid whitesmoke;
    box-shadow: 6px 6px 6px 0px black;
}

footer{
    background-color: var(--primary-color);
    color: var(--text-light);
    padding: 5px;
    text-align: left;
}

.viewer{
    display: grid;
    grid-template-columns: 1fr;
    position: fixed;
    top:0;
    left:0;
    bottom:0;
    right:0;
    background-color: rgba(0, 0, 0, 0.75);
}

.close-viewer {
    background-color: transparent;
    border: none;
    color: white;
    font-size: 1.3em;
    justify-self: right;
}

.viewer img{
    justify-self: center;
    max-width: 100%;
}

@media screen and (min-width: 700px) {
    .hide{
        display: none
    }

    a:link {
        display: block;
    }
    
    .gallery {
      grid-template-columns: 1fr 1fr;
    }

    .viewer img{
        max-width: 85%;
    }
}

@media screen and (min-width: 1000px) {
    .menu-button {
        display: none;
    }

    a:link {
        display: inline;
        margin: auto 5%;
    }

    .gallery {
        grid-template-columns: 1fr 1fr 1fr;
      }

    .viewer{
        margin: 20px 80px;
    }

    .viewer img{
        max-width: 80%;
        max-height: 80%;
    }
}